/* line 35, ../scss/iplayer.scss */
.table.colours {
  color: #eeeeee;
}
/* line 38, ../scss/iplayer.scss */
.table.colours .light, .table.colours .name, .table.colours thead {
  color: #343434;
}

@media (max-width: 768px) {
  /* line 44, ../scss/iplayer.scss */
  .affix {
    position: static;
  }
}
/* line 50, ../scss/iplayer.scss */
.examples a {
  color: #343434;
}
/* line 52, ../scss/iplayer.scss */
.examples a:hover, .examples a:focus {
  color: #f54997;
  text-decoration: none;
}
/* line 58, ../scss/iplayer.scss */
.examples button {
  color: white;
  border: 0px;
  background-color: #343434;
  padding: 8px;
}
/* line 63, ../scss/iplayer.scss */
.examples button:hover, .examples button:focus {
  background-color: #cf3e80;
}

/* line 69, ../scss/iplayer.scss */
.nav .nav {
  font-size: 10px;
  margin-left: 10px;
}

.img-box-portrait {
  width: auto;
  max-height: 600px;
}

.img-box-landscape {
  height: auto;
  max-width: 100%;
}
